$color-initial: #fff;
$color-primary: #5218fa;
$color-secondary: #606c76;
$color-tertiary: #f4f5f6;
$color-quaternary: #d1d1d1;
$color-quinary: #e1e1e1;

$sans: 'Titillium Web', sans-serif;

$spacer: 4rem;

$is_module: true;
