@use '../theme' as *;
@use '../mixin' as *;

#{component(controls)} {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
  font-size: smaller;

  .count {
    height: 100%;
  }

  .filters {
    display: flex;
    flex-direction: row;
    flex-basis: 0;

    list-style: none;
    margin: 0;

    .item {
      margin: 0;

      .button {
        margin: 0;
      }
    }
  }
}
