@use '../theme' as *;
@use '../mixin' as *;

#{component(footer)} {
  display: flex;
  flex-direction: column;

  margin-top: $spacer;
  margin-bottom: $spacer;
  text-align: center;
  font-size: smaller;
}
